@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/violet.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-tabs/style/react-tabs.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
  }
}

a {
  @apply cursor-pointer text-blue-600 underline visited:text-purple-600 hover:text-blue-800;
}

button[role="combobox"] {
  width: 100%;
}

/*******************************************************************************************************/
/*                              Coach attendance calendar view                                         */
/*******************************************************************************************************/
.coachAttendanceCalendarView div * {
  border: 0;
}

.coachAttendanceCalendarView .react-datepicker__header {
  background-color: transparent;
}

.coachAttendanceCalendarView .react-datepicker__day--keyboard-selected,
.coachAttendanceCalendarView .react-datepicker__day:hover {
  background-color: transparent;
}

.coachAttendanceCalendarView .react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.coachAttendanceCalendarView .react-datepicker__month {
  margin: 0;
}

.coachAttendanceCalendarView .react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.coachAttendanceCalendarView .react-datepicker {
  width: 100%;
}

.coachAttendanceCalendarView .react-datepicker__month-container {
  width: 100%;
}

.coachAttendanceCalendarView,
.coachAttendanceCalendarView > div.react-datepicker-wrapper,
.coachAttendanceCalendarView
  > div
  > div.react-datepicker__input-container
  .coachAttendanceCalendarView
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
  height: 100%;
}

.react-datepicker__tab-loop {
  position: absolute;
  top: 0;
  left: 0;
}
.date-picker-icon {
  float: right;
  margin-right: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}
