@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/violet.css";
@import "react-datepicker/dist/react-datepicker.css";
@import "react-tabs/style/react-tabs.css";
@import "react-calendar/dist/Calendar.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap");

@font-face {
  font-family: "Teko";
  src: url("../../public/fonts/Teko-VariableFont_wght.ttf");
}

@layer utilities {
  .visible {
    left: 0 !important;
    display: block;

    @media (min-width: 992px) {
      display: none;
    }
  }

  .visible .overlay {
    display: block !important;
  }

  .common-table tr td:first-child {
    border-left: 2px solid #f3f4f6;
    border-radius: 8px 0 0 8px;
  }

  .common-table tr td:last-child {
    border-right: 2px solid #f3f4f6;
    border-radius: 0 8px 8px 0;
  }

  .common-table tr.active {
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.1);
  }

  .common-table tr.disabled {
    opacity: 0.5;
  }

  .common-table tr:nth-child(2) {
    box-shadow: 0 9px 32px 0 rgba(0, 0, 0, 0.1);
  }

  .common-table tr:nth-child(3) {
    opacity: 0.5;
  }

  .common-table tr:nth-child(4) {
    opacity: 0.2;
  }
  .filter-visible .f-screen {
    right: 0;
  }
  .filter-visible .f-overlay {
    display: block;
  }
  .accordion span.ml-4 {
    display: none;
  }
  .dropdown button {
    width: 100%;
  }
  .dropdown button span {
    color: black;
    width: 100%;
    justify-content: space-between;
  }
}

@layer base {
  html {
    font-family: "DM Sans", sans-serif;
  }

  .scroll::-webkit-scrollbar {
    width: 6px;
    /* width of the entire scrollbar */
  }

  .scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #a09f9f;
    /* color of the scroll thumb */
    border-radius: 10px;
    /* roundness of the scroll thumb */
    /* creates padding around scroll thumb */
  }
  .filter-icon{
    filter: brightness(100);
    width: 30px;
  }
  .filters-mobile nav{
      background: #EAEAEA;
  }
  .filters-mobile nav ul .shadow{
    border-radius: 0!important;
    box-shadow: none!important;
    padding: 10px 0px;
  }
  .filters-mobile nav ul li .text-inherit{
    text-align: left;
    padding-left: 25px;
  }
  .filters-mobile nav ul li{
    padding: 10px 0;
    margin-bottom: 15px;
    justify-content: flex-start;
  }
  .view-drop::after{
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #2f2f2f;
    font-size: 0;
    line-height: 0;
    float: left;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);

  }
}

a {
  @apply cursor-pointer text-blue-600 underline visited:text-purple-600 hover:text-blue-800;
}

button[role="combobox"] {
  width: 100%;
}

body.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
.react-datepicker-wrapper{
  width: 100%;
}
.c-date{
  background: url(../images/calender.svg);
  background-repeat: no-repeat;
  background-position: center right 10px;
}
.c-select .react-select__control{
  border-radius: 0.5rem;
}
.c-select .react-select__value-container{
  /* padding-left: 20px; */
  padding: 8px 8px 8px 20px;

}

/*******************************************************************************************************/
/*                              Coach attendance calendar view                                         */
/*******************************************************************************************************/
.coachAttendanceCalendarView div * {
  border: 0;
}

.coachAttendanceCalendarView .react-datepicker__header {
  background-color: transparent;
}

.coachAttendanceCalendarView .react-datepicker__day--keyboard-selected,
.coachAttendanceCalendarView .react-datepicker__day:hover {
  background-color: transparent;
}

.coachAttendanceCalendarView .react-datepicker__day-names {
  display: flex;
  justify-content: space-between;
}

.coachAttendanceCalendarView .react-datepicker__month {
  margin: 0;
}

.coachAttendanceCalendarView .react-datepicker__week {
  display: flex;
  justify-content: space-between;
}

.coachAttendanceCalendarView .react-datepicker {
  width: 100%;
}

.coachAttendanceCalendarView .react-datepicker__month-container {
  width: 100%;
}

.coachAttendanceCalendarView,
.coachAttendanceCalendarView > div.react-datepicker-wrapper,
.coachAttendanceCalendarView
  > div
  > div.react-datepicker__input-container
  .coachAttendanceCalendarView
  > div
  > div.react-datepicker__input-container
  input {
  width: 100%;
  height: 100%;
}

.react-datepicker__tab-loop {
  position: absolute;
  top: 0;
  left: 0;
}

.date-picker-icon {
  float: right;
  margin-right: 20px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
}

.react-calendar {
  border: 0 !important;
}
